.projectContainer {
    /* border: solid 1px cyan; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* border: solid 1px red; */
}

.projectCardContainer {
    min-width: 250px;
    width: 65%;
    /* border: solid 1px green; */

    @media (max-width: $mantine-breakpoint-sm) {
        width: 100%;
    }

    @media (max-width: $mantine-breakpoint-md) {
        width: 80%;
    }

    @media (max-width: $mantine-breakpoint-lg) {
        width: 80%;
    }
}

.gridRow {
    margin-bottom: 10px;
}