.cardContainer {
    height: 100%;
    color: var(--mantine-color-text);
}

.cardContainer:hover {
    @mixin light {
        opacity: 0.85;
    }

    @mixin dark {
        filter: brightness(85%);
    }
}

.cardHeaderInfo {
    flex-wrap: wrap-reverse;
}

.projectTitle {
    @media (max-width: $mantine-breakpoint-xs) {
        width: 100%;
    }
}

.cardDescription {
    min-height: 75px;
}